#include <windows.h>
#include "sysmets.h"

IDI_icon ICON "lab2.ico"

IDM_menu MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Exit     Ctrl+Q", ID_EXIT
    END
    POPUP "&Data"
    BEGIN
        MENUITEM "&Clear all data", ID_DATA
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About     Ctrl+I", ID_ABOUT
    END
END

IDD_DIALOG DIALOG  100, 50, 180, 130
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
CAPTION "About"
BEGIN
    DEFPUSHBUTTON   "&OK", IDOK, 67, 90, 50, 14
    ICON IDI_icon, IDC_static, 80, 7, 32, 32
    CTEXT "Copyright by", IDC_static, 7, 40, 165, 10
    CTEXT "Postica Denis", IDC_static, 67, 57, 50, 10
END
