#include <wingdi.h>
#include "resource.h"
IDB_PENCIL BITMAP pencil.bmp
IDB_LINE BITMAP line.bmp
IDB_ELLIPSE BITMAP ellipse.bmp
IDB_ERASER BITMAP eraser.bmp
IDB_BEZIER BITMAP bezier.bmp
IDB_RECTANGLE BITMAP rectangle.bmp
IDI_icon ICON "icon.ico"
